<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">
<app-admin-usuario></app-admin-usuario>

<div class="container text-center">
  
          <div class="row">
              <div class="box">
                  
                      <hr class="tagline-divider">
                      <h2 class="intro-text text-center" id="precios">
                          <strong>P R E C I O S</strong>
                      </h2>
                      <hr class="tagline-divider">
                      <h2 class="text-center" style="color: #00BFFF;">Lista de Precios</h2>
                    <div class="ui-g-12 ui-md-4">                        
                      <table class="table table">
                                      
                          <tr>
                              <td><strong>Traje de 2 Piezas</strong></td>
                              <td style="color: #00BFFF;">85$</td>
                              <td><strong>Vestido novias</strong></td>
                              <td style="color: #00BFFF;">450$</td>
                          </tr>
                          
                          <tr>
                              <td><strong>Vestido Corto</strong></td>
                              <td style="color: #00BFFF;">100$</td>
                              <td><strong>Saco</strong></td>
                              <td style="color: #00BFFF;">50$</td>
                          </tr>
                   
                          <tr>
                              <td><strong>Vestido Largo</strong></td>
                              <td style="color: #00BFFF;">140$</td>
                              <td><strong>Camisa</strong></td>
                              <td style="color: #00BFFF;">40$</td>
                          </tr>
                          <tr>
                              <td style="height: 50px;"></td>
                              <td></td>
                              <td><strong>Blusa</strong></td>
                              <td style="color: #00BFFF;">40$</td>
                          </tr>
                        </table>
                      </div>
                          <div class="ui-g-12 ui-md-4">                      
                            <table class="table table">
                          <tr>
                              <td style="font-size: 18px;"><strong>Vestido XV años</strong></td>
                              <td></td>
                              <td><strong>Pantalon</strong></td>
                              <td style="color: #00BFFF;">35$</td>
                          </tr>
                          <tr>
                              <td>Sencillo</td>
                              <td style="color: #00BFFF;">250$</td>
                              <td><strong>Corbata</strong></td>
                              <td style="color: #00BFFF;">20$</td>
  
                          </tr>
                          <tr>
                              <td>Normal</td>
                              <td style="color: #00BFFF;">450$</td>
                              <td><strong>Chalinas</strong></td>
                              <td style="color: #00BFFF;">50$</td>
                          </tr>
                      
                          <tr>
                              <td id=Abrigos><strong>Abrigos</strong></td>
                              <td></td>
                              <td><strong>Chaleco</strong></td>
                          </tr>
                          <tr>
                              <td>Cortos</td>
                              <td style="color: #00BFFF;">150$</td>
                              <td>Ligera</td>
                              <td style="color: #00BFFF;">70$</td>
                              <td></td>
                          </tr>
                          <tr>
                              <td>Largos</td>
                              <td style="color: #00BFFF;">180$</td>
                              <td>Plumas</td>
                              <td style="color: #00BFFF;">110$</td>
                          </tr>
                        </table></div>
                        <div class="ui-g-12 ui-md-4">                        
                          <table class="table table">
                          <tr>
                              <td id=Chamarras><strong>Chamarras</strong></td>
                              <td></td>
                              <td><strong>Gabardina</strong></td>
                              <td style="color: #00BFFF;">140$</td>
                          </tr>
                          <tr>
                              <td>Ligera</td>
                              <td style="color: #00BFFF;">140$</td>
                          </tr>
                          <tr>
                              <td>Gruesa</td>
                              <td style="color: #00BFFF;">200$</td>
                          </tr>
                          <tr>
                              <td><strong>Edredon</strong></td>
                          </tr>
                          <tr>
                              <td><strong>Tintoreria</strong></td>
                              <td style="color: #00BFFF;">195$</td>
                          </tr>
                          <tr>
                              <td><strong>Lavanderia</strong></td>
                              <td style="color: #00BFFF;">90$</td>
                          </tr>
                      </table></div>
                      </div>
              </div>
          </div>