<app-admin-admin></app-admin-admin>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">

  <div class="container-fluid-responsive">
        <div class="card form-group">
                <h4 class="card-header" style="background-color:rgba(2, 107, 168, 0.712);">Editar Servicio</h4>
              <div class="card-body">
                  <h4 class="card-title">Datos del Servicio</h4>
     <form [formGroup]="registroServicio" (ngSubmit)="onSubmit()">
            <div class="row">
                    <div class="ui-g-12">
                        <div class="ui-inputgroup" style="font-size:18px;">
                                <span class="input-group-addon" id="Nombre" for="Nombre" style="width:120px;">Descripcion</span>
                    
                                    <input type="text" class="form-control" id="Nombre" formControlName="Nombre" [(ngModel)]="servicioo.Nombre" placeholder="Nombre del Servicio">
                                    <i class="fa fa-check-circle" *ngIf="registroServicio.controls.Nombre.valid"></i>
                                    <i class="fa fa-exclamation-circle uncheck" *ngIf="registroServicio.controls.Nombre.invalid && registroServicio.controls.Nombre.touched"></i>

                        </div>
                        <p class="alert alert-danger" *ngIf="registroServicio.controls.Nombre.invalid && registroServicio.controls.Nombre.touched">
                                POR FAVOR INTRODUZCA EL SERVICIO  !!
                        </p>
                    </div>
                  <div class="ui-g-12 ui-md-6">
                    <div class="ui-inputgroup inputgroup-lg" style="font-size:18px;">
                        <span class="ui-inputgroup-addon" id="Precio" for="Precio" style="width:120px;">Precio</span>
              
                        <input type="number" class="form-control" id="Precio" formControlName="Precio"  [(ngModel)]="servicioo.Precio" placeholder="Precio del servicio">
                        <i class="fa fa-check-circle" *ngIf="registroServicio.controls.Precio.valid"></i>
                        <i class="fa fa-exclamation-circle uncheck" *ngIf="registroServicio.controls.Precio.invalid && registroServicio.controls.Precio.touched"></i>

                    </div>
                    <p class="alert alert-danger" *ngIf="registroServicio.controls.Precio.invalid && registroServicio.controls.Precio.touched">
                        POR FAVOR INTRODUZCA UN PRECIO  !!
                    </p>
            </div>
           
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup"  style="font-size:18px;">                                
                        <span class="ui-inputgroup-addon" style="width:120px;">Status</span>
                        <p-dropdown [options]="Estatus" [(ngModel)]="servicioo.Estatus" formControlName="Estatus" ></p-dropdown>
                        </div>
                    </div>
                  
        </div>
        <div class="col-md-12 text-center"> 
          <button type="submit" class="btn btn-outline-primary" style="font-size:20px;"
          [disabled]="!registroServicio.valid">Guardar Servicio
          </button>
          <p class="alert alert-danger" *ngIf="!registroServicio.valid">POR FAVOR COMPLETE TODOS LOS CAMPOS</p>
        </div>
          <hr>
          <button type="submit" class="btn btn-outline-danger text-right" routerLink="/admin-servicios/servicios" style="font-size:20px;">REGRESAR
        </button>
      </form>     
      <!--
      <pre>valor del formulario: {{ registroServicio.value | json }}</pre>       
      <pre>Estado del formulario: {{ registroServicio.status | json }}</pre>       
      <hr>
      <pre>{{ cliente | json }}</pre>
      --> 
              </div>
        </div>
    </div>