
  <div class="card text-left" style="width: 500px;">
        <h4 class="card-header" style="background-color:rgba(2, 107, 168, 0.712);">Iniciar Sesion</h4>
        <div class="card-body">
          <h4 class="card-title">Usuario</h4>
          <div role="form">
            <div class="col-md-12" style="text-align:center;">
              <img class="rounded-circle" src="/assets/LOGIN.png" style="width:40%; height:40%;"/>
                 
              <h3>Correo electronico</h3><br />
                  <input type="text" class="form-control" id="correo" placeholder="Correo Electronico"/><br>
                  <h3>Contraseña</h3>
                  <input type="password"  class="form-control" id="contraseña" placeholder="Contraseña"/><br>
            </div>
              <hr>
              <div class="col-md-12 text-center" > 
                  <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size:20px;">Cancelar</button>
                  <a routerLink="/Usuarios/admin-usuario" routerLinkActive="Active"><button type="button" class="btn btn-outline-primary" style="font-size:20px;">Entrar</button></a>
              </div>
          </div>
        </div>
    </div>