<!--<div class="container-fluid" *ngIf="isAuth() && !isAdmin()">
<app-admin-admin></app-admin-admin>
</div>
-->

<app-galeria-fotos></app-galeria-fotos>
<hr>
<div class="container marketing">
  
  <h1 class="text-center">Servicios !</h1>
        <hr class="featurette-divider">
  
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading"> Servicio de Pantalon.</h2>
            <p class="lead"> En este servicio se llevará a cabo el planchado y el bien lavado de levis, Dejamos tus pantalones como nuevo!</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="assets/CLIN10.jpg" data-holder-rendered="true">
          </div>
        </div>
  
        <hr class="featurette-divider">
  
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Servicio a domicilio!</h2>
            <p class="lead">Llevamos tu ropa a donde tu quieras!! (Apartir de 3 prendas)</p>
          </div>
          <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="assets/CLINN2.png" data-holder-rendered="true">
              
          </div>
        </div>
  
        <hr class="featurette-divider">
  
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Lavado en seco !</h2>
            <p class="lead">Utilizamos el mejor equipo para el lavado en seco.</p>
          </div>
          <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="assets/CLINN9.jpg" data-holder-rendered="true">
              
          </div>
        </div>
  
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Servicio de planchado !</h2>
              <p class="lead"> Para un planchado perfecto somos tu mejor opcion !.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="assets/CLINN8.jpg" data-holder-rendered="true">
                
            </div>
          </div>
          <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Lavado de edredones !</h2>
                <p class="lead">Damos servicio de lavado y secado de edredones !</p>
              </div>
              <div class="col-md-5">
                  <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="assets/CLINN6.jpg" data-holder-rendered="true">
                  
              </div>
            </div>

        <hr class="featurette-divider">
  
       
  
  
       
        <footer>
          <p class="float-right"><a href="#">INICIO</a></p>
          <p>© 2017 CLINN ECOTINTORERIA · <a href="#">INICIO</a> ·</p>
        </footer>
  
      </div>
  