<app-admin-admin></app-admin-admin>

<div class="card">
    <h4 class="card-header" style="background-color:rgba(2, 107, 168, 0.712);">CLIENTES</h4>
    <div class="card-body">                
          <p style="color:rgb(32, 31, 31); font-size:20px;">{{ mensaje }}</p>
          <h3 style="color:rgb(26, 24, 24);">LISTADO DE CLIENTES</h3>
          <br>
        <div class="row">
           <div class="col-sm-6">
            <input type="search" class="form-control" placeholder="Buscar un cliente.." [formControl]="campoBusqueda"><button pButton type="button" label="Buscar"></button>
            
            </div>
           <div class="col-sm-6">
            <a class="btn btn-outline-primary float-md-right" routerLink="/add-registrar" routerLinkActive="Active">
                AÑADIR NUEVO CLIENTE
            </a>
           </div>
        </div>
          <br>
          <div *ngIf="cargando" class="text-center" style="padding-top: 60px;">
                <img src="../../../assets/62159.gif">
            </div>
  <div *ngIf="!cargando">
    <div *ngIf="resultados">
        <table class="table table-responsive" style="background-color:rgba(254, 255, 255, 0.788); font-size:18px;">         
              <thead class="thead-inverse" style="background-color:rgba(230, 234, 236, 0.712);">
            
                  <tr class="filters">
                   <!-- <th>id</th>-->  
                    <th>NOMBRE</th>
                      <th>CORREO ELECTRONICO</th>
                      <th>TELEFONO</th>
                      <th>DIRECCION</th>
                      <th>ESTATUS</th>
                      <th>CONTRASENA</th>

                      <th></th>
                  </tr>
              </thead>


          <tbody style="background-color:white;">
              <tr *ngFor="let cliente of Clientes">
                 <!-- <td>{{cliente.id}}</td>-->
                  <td>{{ cliente.nombre}}  {{ cliente.apellidos}}</td>
                  <td><a href="mailto:{{ cliente.email }}">{{cliente.email}}</a></td>
                  <td>{{ cliente.telefono }}</td>
                  <td>{{ cliente.direccion}}</td>
                  <b><td style="background-color:green; color:white;">{{ cliente.estatus}}</td></b>
                  <td>{{ cliente.password}}</td>
                  
                  <td style="width:300px;">
                    <button type="button" class="btn btn-outline-primary" routerLink="/editclientes/{{ cliente.id }}">MODIFICAR</button>
                    <button type="button" class="btn btn-danger" (click)="eliminarCliente(cliente.id)">ELIMINAR</button>
                </td>
              </tr>
          </tbody>
          </table>
    </div>
    </div>
    </div>
</div>
<div *ngIf="noresultados">
    <h2>NO EXISTE NINGUNA COINCIDENCIA</h2>
</div>